extend componentes/plantilla.pug
block contenidos
    section.intro 
      div.intro__imagen: img(src="../images/imagen.png", alt="alt")
      .intro__contenido 
        h2 #{titulos[0]} 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatem consectetur unde iste earum mollitia blanditiis consequuntur vel quod, iure assumenda rem error!
          span Distinctio officiis cupiditate sed tempore illum atque.
        a.boton Leer más 
    main.contenido 
      +caja("imagen.png", titulos[1], "Lorem ipsum dolor sit amet")
      +caja("imagen.png", titulos[2], "Lorem ipsum dolor sit amet")
      +caja("imagen.png", titulos[3], "Lorem ipsum dolor sit amet")