article.article__activity
  section.section__activity 
    h2 #{titulos[1]}
    .actividades 
      div 
        .carrusel
          h4 #{titulos[2]}
          .carrusel__container 
            +carrusel__item(carrusel__imagen[0], carrusel__alt[0], carrusel__text[0], "img-especial")
            +carrusel__item(carrusel__imagen[1], carrusel__alt[1], carrusel__text[1], "img-especial")
            +carrusel__item(carrusel__imagen[2], carrusel__alt[2], carrusel__text[2])
      div 
        .carrusel
          h4 #{titulos[3]}
          .carrusel__container 
            +carrusel__item(carrusel__imagen[3], carrusel__alt[3], carrusel__text[3])
            +carrusel__item(carrusel__imagen[4], carrusel__alt[4], carrusel__text[4])
            +carrusel__item(carrusel__imagen[5], carrusel__alt[5], carrusel__text[5], "img-especial")
      div 
        .carrusel
          h4 #{titulos[4]}
          .carrusel__container 
            +carrusel__item(carrusel__imagen[6], carrusel__alt[6], carrusel__text[6], "img-especial")
            +carrusel__item(carrusel__imagen[7], carrusel__alt[7], carrusel__text[7], "img-especial")
            +carrusel__item(carrusel__imagen[8], carrusel__alt[8], carrusel__text[8])