article
          section 
            div: h4 #{titulos[5]}
            .integrante-caja 
              +integrante("https://i.postimg.cc/C5c4vdYk/jerson.webp", integrantes[0])
              +integrante("https://i.postimg.cc/htWZvYNG/sandy.webp", integrantes[1])
              +integrante("https://i.postimg.cc/BbPNQ5gD/nicolle.jpg", integrantes[2])
              +integrante("https://i.postimg.cc/8517tT30/johana.jpg", integrantes[3])
              +integrante("https://i.postimg.cc/Vk9c7zmn/anny.jpg", integrantes[4])
              +integrante("https://i.postimg.cc/3RXmLLnt/judith.jpg", integrantes[5])
              +integrante("https://i.postimg.cc/x8gHQXrH/junior.jpg", integrantes[6])
              +integrante("https://i.postimg.cc/KYr8wdh3/asdads.jpg", integrantes[7])
              +integrante("https://i.postimg.cc/g0dYVNLz/asdaf.jpg", integrantes[8])
              +integrante("https://i.postimg.cc/KYNmJBtn/adfafa.jpg", integrantes[9])
              +integrante("https://i.postimg.cc/W3ZzShbj/jonnnn.png", integrantes[10])