article 
          section 
            h2 Un equipo
            p Somos una organización no gubernamental (ONG) que se dedica a contribuir en la sociedad cono agentes de solidaridad. Nos encontramos ubicados en Villa el Salvador.
          section 
            h2 Nosotros 
            p
            .contenedor 
              video(class="fm-video video-js vjs-16-9 vjs-big-play-centered"
                data-setup="{}"
                controls
                id="fm-video"
                preload="metadata"
                autoplay)
              source(src="video/actuando-en-amor.mp4" type="video/mp4")