footer 
        .footer__titulo: h4 #{titulos[6]}
        .footer__redes 
          .img__item 
            img(src="../../../actuando-en-amor/imgs/facebook.svg" alt="FB")
            figcaption Facebook 
          .img__item 
            img(src="../../../actuando-en-amor/imgs/instagram.svg", alt="Instagram")
            figcaption Instagram 
          .img__item 
            img(src="../../../actuando-en-amor/imgs/twitter.svg", alt="twitter")
            figcaption Twitter 
          .img__item 
            img(src="../../../actuando-en-amor/imgs/hi5.svg", alt="hi5")
            figcaption Hi5 
        .derechos !{titulos[7]}